
@using webtest01.Models
@model IQueryable<Customer>
@{
    ViewBag.Title = "EditCustomer";
    Layout = "~/Views/Shared/_LayoutCustomer.cshtml";
}
@*此處因以登入 所以會員處顯示不一樣，不適用模板 記得改*@


<!--Body-->
<section class="vh-60 mb-5 p-5">
    <div class="container h-100">
        <div class="row  d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-12 col-xl-11">
                <div class="card p-md-5">
                    <div class="text-center">
                        <h1 style="color: #f2b705;">會員基本資料修改</h1>
                    </div>
                    <div style="width: 80%; margin: auto; padding: auto;">

                        <section id="add">


                            <div class="d-flex flex-row align-items-center mb-4">
                                <i class="fas fa-envelope fa-lg me-3 fa-fw" aria-hidden="true"></i>
                                <div class="form-outline flex-fill mb-0">
                                    <input type="email" id="UserAccount" class="form-control" value="@Model.FirstOrDefault().Email_Account" disabled readonly />
                                    <label class="form-label" for="form3Example3c">電子郵件</label>
                                </div>
                            </div>


                            <div class="d-flex flex-row align-items-center mb-4">
                                <i class="fas fa-user fa-lg me-3 fa-fw" aria-hidden="true"></i>
                                <div class="form-outline flex-fill mb-0">
                                    <input type="text" id="Name" class="form-control" value="@Model.FirstOrDefault().Name" />
                                    <label class="form-label" for="form3Example1c">姓名</label>
                                </div>
                            </div>

                            <div class="d-flex flex-row align-items-center mb-4">
                                <i class="fas fa-phone fa-lg me-3 fa-fw" aria-hidden="true"></i>
                                <div class="form-outline flex-fill mb-0">
                                    <input type="email" id="Phone" class="form-control" value="@Model.FirstOrDefault().Phone" />
                                    <label class="form-label" for="form3Example3c">聯絡電話</label>
                                </div>
                            </div>

                            <div class="d-flex flex-row align-items-center mb-4">
                                <i class="fa fa-map-marker fa-2x me-3 fa-fw" aria-hidden="true"></i>
                                <div class="form-outline flex-fill mb-0">
                                    <div id="twzipcode"></div>
                                    <p></p>
                                    <input type="text" id="address" class="form-control" value="@Model.FirstOrDefault().Address_Road" />
                                </div>
                            </div>

                            <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                                <button type="button" class="btn btn-primary btn-lg" onclick="Register()">儲存修改</button>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

    @section scripts{
        <script src="~/Scripts/projectJS/mainForeditCustomerProfile.js"></script>
        <script src="~/Scripts/jquery-3.6.0.min.js"></script>

        <script src="~/Scripts/jquery.twzipcode.min.js"></script>
        <script src="~/Scripts/twzipcode.js"></script>
        <script>
        $('#twzipcode').twzipcode({
            'zipcodeIntoDistrict': true,
            'countySel': '@Model.FirstOrDefault().Address_City',
            'districtSel': '@Model.FirstOrDefault().Address_Local',
            'css': [
                'form-select border-3',
                'form-select border-3'
            ]
        });
        function Register() {
            let Name = $('#Name').val();
            let Phone = $('#Phone').val();
            let UserAccount = $('#UserAccount').val();
            let county = $("select[name='county']").val();
            let district = $("select[name='district']").val();
            let address = $('#address').val();
            if (Name == "" || Phone == "" || county == "" || district == "" || address == "") {
                alert("請填入完整資料/輸入欄不可空白");
            }
            else {
                const formData = new FormData();
                formData.append("CustomerID", @Model.FirstOrDefault().CustomerID);
                formData.append("Name", Name,);
                formData.append("Phone", Phone,);
                formData.append("UserAccount", UserAccount,);
                formData.append("county", county);
                formData.append("district", district);
                formData.append("address", address);
                $.ajax({
                            url: '@Url.Content("~/Customer/EditCustomer")',
                            method: 'Post',
                            dataType: 'json',
                            data: formData,
                            processData: false,
                            contentType: false,
                            success: function (datas) {
                                if (datas.ErrMsg) {
                                    alert(datas.ErrMsg);
                                    return;
                                }
                                alert(datas.ResultMsg);
                                window.location.href = '@Url.Content("~/Home/Index")';
                            },
                            error: function (err) {
                                alert(err.responseText + ',' + err.status);
                            }
                        });
            }
        }
        </script>
    }
