@using System.Web.Configuration;
@{
    ViewBag.Title = "Login";

    var web = WebConfigurationManager.AppSettings["WebUrl"];
}


<section class="ftco-section">
    <div class="container">
        <div class="row  justify-content-center" style="background-color: 	#FFFFDF;">


            <div class="lr-content card2" style="margin: 70px;">
                <div class="lr-head">
                    <div class="lr-l_b" id="login1" style="text-align:center;">
                        <div></div>
                        <span style="font-size:24px;">店家</span>
                    </div>
                    <div class="lr-r_b" id="register1" style="text-align:center">
                        <div></div>
                        <span style="font-size:24px;">一般用戶</span>
                    </div>
                </div>
                <div class="lr-main">
                    <div>
                        @using (Ajax.BeginForm("DoLogin", "Member", new { id = "" }, new AjaxOptions { HttpMethod = "Post", OnComplete = "Success", OnFailure = "Fail" }, new { id = "r-f", enctype = "multipart/form-data" }))
                        {
                            <input type="text" class="l-username form-control border-2 py-3" id="Login_Email" name="Login_Email" placeholder="請輸入電子郵件" />
                            <input type="password" class="l-password form-control border-2 py-3" id="Login_Pwd" name="Login_Pwd" placeholder="請輸入密碼" />
                            <label><img src="~/Content/img/eyeclose.png" id="eyes"></label>
                            <button class="btn-42" style="margin:25px;padding:auto;left: 60px;"><span><a style="color: orange;">登入</a></span></button>
                        }
                    </div>
                    <div>
                        @using (Ajax.BeginForm("DoLoginStore", "Member", new { id = "" }, new AjaxOptions { HttpMethod = "Post", OnComplete = "Success", OnFailure = "Fail" }, new { id = "l-f", enctype = "multipart/form-data" }))
                        {
                            <input type="text" class="l-username form-control border-2 py-3" id="Login_StoreEmail" name="Login_StoreEmail" placeholder="請輸入電子郵件" />
                            <input type="password" class="l-password form-control border-2 py-3" id="Login_StorePwd" name="Login_StorePwd" placeholder="請輸入密碼" />
                            <label><img src="~/Content/img/eyeclose.png" id="eyes2"></label>
                            <button class="btn-42" style="margin:25px;padding:auto;left: 60px;"><span><a style="color: orange;">登入</a></span></button>
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section scripts{
    <script src="~/Scripts/projectJS/登入口.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script>



        function Success(e) {
            //console.log(typeof e);
            //console.log(e);
            //console.log(typeof e.responseText);
            //console.log(typeof e.responseJSON);
            //console.log(e.responseText.ResultMsg);
            //console.log(e.responseText.ErrMsg);
            //console.log(e.responseJSON.ResultMsg);
            //console.log(e.responseJSON.ErrMsg);
            if (e.responseJSON.ErrMsg) {
                alert(e.responseJSON.ErrMsg);
                return;
            }
            alert(e.responseJSON.ResultMsg);
            @(Session["Visitor"] = "");
            window.location.href = '@Url.Content("~/Home/Index")';
            @*console.log(e.responseJSON.ResultMsg);
            console.log("@Url.Action("Index","Home")");
            window.location.href="@Url.Action("Index","Home")";*@
            //location.href = "~/Home/Index.cshtml";
        }
        function Fail(e) {
            alert("狀態碼: " + e.status + ",說明:" + e.statusText);
        }

        var imgs = document.getElementById('eyes');
        var flag = 0;
        imgs.onclick = function () {
            if (flag == 0) {
                Login_Pwd.type = 'text';
                eyes.src = "@(web)/Content/img/eyeopen.png";
                flag = 1;
            } else {
                Login_Pwd.type = 'password';
                eyes.src = "@(web)/Content/img/eyeclose.png";
                flag = 0;
            }
        }

        var imgs2 = document.getElementById('eyes2');
        var flag2 = 0;
        imgs2.onclick = function () {
            if (flag2 == 0) {
                Login_StorePwd.type = 'text';
                eyes2.src = "@(web)/Content/img/eyeopen.png";
                flag2 = 1;
            } else {
                Login_StorePwd.type = 'password';
                eyes2.src = "@(web)/Content/img/eyeclose.png";
                flag2 = 0;
            }
        }
    </script>
}