@using webtest01.Models
@model IQueryable<Store_Business>
@{
    ViewBag.Title = "EditCarInfo";
    Layout = "~/Views/Shared/_LayoutStore.cshtml";
    var schedule = "無紀錄";
    if (Model.Any())
    {
        schedule = Model.FirstOrDefault().Punch_Start + " 至 " + Model.FirstOrDefault().Punch_End + " " + Model.FirstOrDefault().Address_City + Model.FirstOrDefault().Address_Local + Model.FirstOrDefault().Store_Address;

    }


}

@*此處因以登入 所以會員處顯示不一樣，不適用模板 記得改*@


<section class="vh-60 mb-5 p-5">
    <div class="container h-100">
        <div class="row  d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-12 col-xl-11">
                <div class="card p-md-5">
                    <div class="text-center">
                        <h1 style="color: #f2b705;">修改餐車即時資訊</h1>

                    </div>
                    <div style="width: 80%; margin: auto; padding: auto;">

                        <section id="add">

                            <div class="d-flex flex-row align-items-center mb-4">
                                <div class="form-outline flex-fill mb-0">
                                    <input type="text" id="schedule" class="form-control" value="已預定：@schedule " readonly />

                                </div>
                            </div>

                            <div class="d-flex flex-row align-items-center mb-4">
                                <i class="fa fa-calendar fa-2x me-3 fa-fw" aria-hidden="true"></i>
                                <div class="form-outline flex-fill mb-md-0">
                                    <input type="date" id="data" class="form-control" />
                                    <label class="form-label" for="form3Example1c">預計營運日期</label>
                                </div>
                            </div>

                            <div class="d-flex flex-row align-items-center mb-4">
                                <i class="fa fa-clock-o fa-2x me-3 fa-fw" aria-hidden="true"></i>
                                <div class="form-outline flex-fill mb-0">

                                    <select class="form-select border-3" style="margin-bottom:10px;" name="startTime">
                                        <option>請選擇營業時間</option>
                                        <option>00:00</option>
                                        <option>00:30</option>
                                        <option>01:00</option>
                                        <option>01:30</option>
                                        <option>02:00</option>
                                        <option>02:30</option>
                                        <option>03:00</option>
                                        <option>03:30</option>
                                        <option>04:00</option>
                                        <option>04:30</option>
                                        <option>05:00</option>
                                        <option>05:30</option>
                                        <option>06:00</option>
                                        <option>06:30</option>
                                        <option>07:00</option>
                                        <option>07:30</option>
                                        <option>08:00</option>
                                        <option>08:30</option>
                                        <option>09:00</option>
                                        <option>09:30</option>
                                        <option>10:00</option>
                                        <option>10:30</option>
                                        <option>11:00</option>
                                        <option>11:30</option>
                                        <option>12:00</option>
                                        <option>12:30</option>
                                        <option>13:00</option>
                                        <option>13:30</option>
                                        <option>14:00</option>
                                        <option>14:30</option>
                                        <option>15:00</option>
                                        <option>15:30</option>
                                        <option>16:00</option>
                                        <option>16:30</option>
                                        <option>17:00</option>
                                        <option>17:30</option>
                                        <option>18:00</option>
                                        <option>18:30</option>
                                        <option>19:00</option>
                                        <option>19:30</option>
                                        <option>20:00</option>
                                        <option>20:30</option>
                                        <option>21:00</option>
                                        <option>21:30</option>
                                        <option>22:00</option>
                                        <option>22:30</option>
                                        <option>23:00</option>
                                        <option>23:30</option>
                                    </select>

                                    <select class="form-select border-3" style="margin-bottom:10px;" name="endTime">
                                        <option>請選擇結束營業時間</option>
                                        <option>00:00</option>
                                        <option>00:30</option>
                                        <option>01:00</option>
                                        <option>01:30</option>
                                        <option>02:00</option>
                                        <option>02:30</option>
                                        <option>03:00</option>
                                        <option>03:30</option>
                                        <option>04:00</option>
                                        <option>04:30</option>
                                        <option>05:00</option>
                                        <option>05:30</option>
                                        <option>06:00</option>
                                        <option>06:30</option>
                                        <option>07:00</option>
                                        <option>07:30</option>
                                        <option>08:00</option>
                                        <option>08:30</option>
                                        <option>09:00</option>
                                        <option>09:30</option>
                                        <option>10:00</option>
                                        <option>10:30</option>
                                        <option>11:00</option>
                                        <option>11:30</option>
                                        <option>12:00</option>
                                        <option>12:30</option>
                                        <option>13:00</option>
                                        <option>13:30</option>
                                        <option>14:00</option>
                                        <option>14:30</option>
                                        <option>15:00</option>
                                        <option>15:30</option>
                                        <option>16:00</option>
                                        <option>16:30</option>
                                        <option>17:00</option>
                                        <option>17:30</option>
                                        <option>18:00</option>
                                        <option>18:30</option>
                                        <option>19:00</option>
                                        <option>19:30</option>
                                        <option>20:00</option>
                                        <option>20:30</option>
                                        <option>21:00</option>
                                        <option>21:30</option>
                                        <option>22:00</option>
                                        <option>22:30</option>
                                        <option>23:00</option>
                                        <option>23:30</option>
                                    </select>
                                </div>
                            </div>


                            <section>

                                <div class="d-flex flex-row align-items-center mb-4">
                                    <i class="fa fa-map-marker fa-2x me-3 fa-fw" aria-hidden="true"></i>
                                    <div class="form-outline flex-fill mb-0">
                                        <div id="twzipcode"></div>
                                        <p></p>
                                        <input type="text" id="address" class="form-control" placeholder="請填入路名" />
                                    </div>
                                </div>
                            </section>
                        </section>
                        <button type="button" class="btn btn-outline-success" id="nextloc" onclick="addcol()">新增下一個地點</button>
                    </div>
                </div>
                <div style="margin-top: 20px;text-align: center;">
                    <button type="button" id="addProduct" class="btn btn-primary btn-lg" onclick="Register()">儲存提交</button>
                </div>
            </div>
        </div>
    </div>
</section>




@section scripts{
    <script src="~/Scripts/projectJS/mainForeditCarInfo.js"></script>
    <script src="~/Scripts/jquery-3.6.0.min.js"></script>

    <script src="~/Scripts/jquery.twzipcode.min.js"></script>
    <script src="~/Scripts/twzipcode.js"></script>
    
<script>
        $('#twzipcode').twzipcode({
            'zipcodeIntoDistrict': true,
            'css': [
                'form-select border-3',
                'form-select border-3'
            ]
        });

    function addcol() {
        let add = document.getElementById('add')
        add.innerHTML += `<hr>
                    <br>
                    <section id="add1">

                    <div class="d-flex flex-row align-items-center mb-4">
                        <div class="form-outline flex-fill mb-0">
                        <input type="text" id="schedule" class="form-control" value="已預定：@ViewBag.second " readonly />
                        </div>
                    </div>


                    <div class="d-flex flex-row align-items-center mb-4">
                        <i class="fa fa-calendar fa-2x me-3 fa-fw" aria-hidden="true"></i>
                        <div class="form-outline flex-fill mb-md-0">
                        <input type="date" id="data1" class="form-control" />
                        <label class="form-label" for="form3Example1c">預計營運日期</label>
                        </div>
                    </div>

                    <div class="d-flex flex-row align-items-center mb-4">
                        <i class="fa fa-clock-o fa-2x me-3 fa-fw" aria-hidden="true"></i>
                        <div class="form-outline flex-fill mb-0">

                        <select class="form-select border-3" style="margin-bottom:10px;" name="startTime1">
                        <option>請選擇營業時間</option>
                        <option>00:00</option>
                        <option>00:30</option>
                        <option>01:00</option>
                        <option>01:30</option>
                        <option>02:00</option>
                        <option>02:30</option>
                        <option>03:00</option>
                        <option>03:30</option>
                        <option>04:00</option>
                        <option>04:30</option>
                        <option>05:00</option>
                        <option>05:30</option>
                        <option>06:00</option>
                        <option>06:30</option>
                        <option>07:00</option>
                        <option>07:30</option>
                        <option>08:00</option>
                        <option>08:30</option>
                        <option>09:00</option>
                        <option>09:30</option>
                        <option>10:00</option>
                        <option>10:30</option>
                        <option>11:00</option>
                        <option>11:30</option>
                        <option>12:00</option>
                        <option>12:30</option>
                        <option>13:00</option>
                        <option>13:30</option>
                        <option>14:00</option>
                        <option>14:30</option>
                        <option>15:00</option>
                        <option>15:30</option>
                        <option>16:00</option>
                        <option>16:30</option>
                        <option>17:00</option>
                        <option>17:30</option>
                        <option>18:00</option>
                        <option>18:30</option>
                        <option>19:00</option>
                        <option>19:30</option>
                        <option>20:00</option>
                        <option>20:30</option>
                        <option>21:00</option>
                        <option>21:30</option>
                        <option>22:00</option>
                        <option>22:30</option>
                        <option>23:00</option>
                        <option>23:30</option>
                        </select>

                        <select class="form-select border-3" style="margin-bottom:10px;" name="endTime1">
                        <option>請選擇結束營業時間</option>
                        <option>00:00</option>
                        <option>00:30</option>
                        <option>01:00</option>
                        <option>01:30</option>
                        <option>02:00</option>
                        <option>02:30</option>
                        <option>03:00</option>
                        <option>03:30</option>
                        <option>04:00</option>
                        <option>04:30</option>
                        <option>05:00</option>
                        <option>05:30</option>
                        <option>06:00</option>
                        <option>06:30</option>
                        <option>07:00</option>
                        <option>07:30</option>
                        <option>08:00</option>
                        <option>08:30</option>
                        <option>09:00</option>
                        <option>09:30</option>
                        <option>10:00</option>
                        <option>10:30</option>
                        <option>11:00</option>
                        <option>11:30</option>
                        <option>12:00</option>
                        <option>12:30</option>
                        <option>13:00</option>
                        <option>13:30</option>
                        <option>14:00</option>
                        <option>14:30</option>
                        <option>15:00</option>
                        <option>15:30</option>
                        <option>16:00</option>
                        <option>16:30</option>
                        <option>17:00</option>
                        <option>17:30</option>
                        <option>18:00</option>
                        <option>18:30</option>
                        <option>19:00</option>
                        <option>19:30</option>
                        <option>20:00</option>
                        <option>20:30</option>
                        <option>21:00</option>
                        <option>21:30</option>
                        <option>22:00</option>
                        <option>22:30</option>
                        <option>23:00</option>
                        <option>23:30</option>
                        </select>
                    </div>
                    </div>

                    <section>

                    <div class="d-flex flex-row align-items-center mb-4">
                        <i class="fa fa-map-marker fa-2x me-3 fa-fw" aria-hidden="true"></i>
                        <div class="form-outline flex-fill mb-0">
                                    <div class="form-outline flex-fill mb-0">
                                        <div id="twzipcodeAdd"></div>
                                        <p></p>
                                        <input type="text" id="address1" class="form-control" />
                                    </div>
                        </div>
                    </div>
                    </section>
                    </section>`;

        document.getElementById("nextloc").style.display = "none";
        $('#twzipcodeAdd').twzipcode({
            'zipcodeIntoDistrict': true,
            'css': [
                'form-select border-3',
                'form-select border-3'
            ]
        });
        $('#twzipcode').twzipcode({
            'zipcodeIntoDistrict': true,
            'css': [
                'form-select border-3',
                'form-select border-3'
            ]
        });
        $('#twzipcode select:nth-child(4)').remove();
        $('#twzipcode select:nth-child(4)').remove();
        $("input").remove("[name=zipcode]");
        }

        //判斷是否有第二欄 ajax傳資料
        function Register() {
            if (document.getElementById("nextloc").style.display == "none")
            {
                let county = $("#twzipcode > select[name='county']").val();
                let district = $("#twzipcode > select[name='district']").val();
                let address = $('#address').val();
                let startTime = $("select[name='startTime']").val();
                let endTime = $("select[name='endTime']").val();
                let data = $('#data').val();


                let county1 = $("#twzipcodeAdd > select[name='county']").val();
                let district1 = $("#twzipcodeAdd > select[name='district']").val();
                let address1 = $('#address1').val();
                let startTime1 = $("select[name='startTime1']").val();
                let endTime1 = $("select[name='endTime1']").val();
                let data1 = $('#data1').val();


                if (endTime == "" || startTime == "" || county == "" || address == "" || endTime1 == "" || startTime1 == "" || county1 == "" || address1 == "" || data == "") {
                    alert("請填入完整資料/輸入欄不可空白");
                } else if ((parseInt(endTime.replace(":", "")) < parseInt(startTime.replace(":", ""))) || (parseInt(endTime.replace(":", "")) - parseInt(startTime.replace(":", "")) == 0) || (parseInt(endTime1.replace(":", "")) < parseInt(startTime1.replace(":", ""))) || (parseInt(endTime1.replace(":", "")) - parseInt(startTime1.replace(":", "")) == 0)) {
                    alert("時間順序錯誤!");
                } else{

                    const formData = new FormData();
                    formData.append("StoreID", @Session["Store"]);
                    formData.append("county", county);
                    formData.append("district", district);
                    formData.append("address", address);
                    formData.append("startTime", startTime);
                    formData.append("endTime", endTime);
                    formData.append("data", data);


                    formData.append("county1", county1);
                    formData.append("district1", district1);
                    formData.append("address1", address1);
                    formData.append("startTime1", startTime1);
                    formData.append("endTime1", endTime1);
                    formData.append("data1", data1);

                    $.ajax({
                        url: '@Url.Content("~/Store/EditCarInfo")',
                        method: 'Post',
                        dataType: 'json',
                        data: formData,
                        processData: false,
                        contentType: false,
                        success: function (datas) {
                            if (datas.ErrMsg) {
                                alert(datas.ErrMsg);
                                return;
                            }
                            alert(datas.ResultMsg);
                            window.location.href = '@Url.Content("~/Store/EditCarInfo")';
                        },
                        error: function (err) {
                            alert(err.responseText + ',' + err.status);
                        }
                    });
                }


            } else {

                let county = $("#twzipcode > select[name='county']").val();
                let district = $("#twzipcode > select[name='district']").val();
                let address = $('#address').val();
                let startTime = $("select[name='startTime']").val();
                let endTime = $("select[name='endTime']").val();
                let data = $('#data').val();



                if (endTime == "" || startTime == "" || county == "" || address == "" || data == "") {
                    alert("請填入完整資料/輸入欄不可空白");
                } else if ((parseInt(endTime.replace(":", "")) < parseInt(startTime.replace(":", ""))) || (parseInt(endTime.replace(":", "")) - parseInt(startTime.replace(":", "")) == 0)){
                    alert("時間順序錯誤!");
                }else
                {

                    const formData = new FormData();
                    formData.append("StoreID", @Session["Store"]);

                    formData.append("county", county);
                    formData.append("district", district);
                    formData.append("address", address);
                    formData.append("startTime", startTime);
                    formData.append("endTime", endTime);
                    formData.append("data", data);

                    $.ajax({
                        url: '@Url.Content("~/Store/EditCarInfo")',
                        method: 'Post',
                        dataType: 'json',
                        data: formData,
                        processData: false,
                        contentType: false,
                        success: function (datas) {
                            if (datas.ErrMsg) {
                                alert(datas.ErrMsg);
                                return;
                            }
                            alert(datas.ResultMsg);
                            window.location.href = '@Url.Content("~/Store/EditCarInfo")';
                        },
                        error: function (err) {
                            alert(err.responseText + ',' + err.status);
                        }
                    });
                }

            }
        }

</script>
}